@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@500&display=swap');

.main{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-size:100vw 100vh;
    background-attachment: fixed;
    background-color: rgb(74, 178, 219);
    margin: 0;
}

.header{
    display: flex;
    background-color: rgb(12, 42, 126);
    margin:0;
}

.header img {
    width: 90px;
    margin: 10px 20px 10px 40px;
    border-radius: 50%;
    cursor: pointer;
  }


.form{
    width: 360px;
    margin: auto;
    background-color: rgb(12, 42, 126); 
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 70px; 
    border-radius: 7px;
}

.header .titulo{
    display: grid;
    align-content: center;
    color:#fff;
	font-family: 'Oswald', sans-serif;
	font-size:25px;
	grid-template-areas: "libreria"
						 "virtual"
}

#libreria{
	grid-area: libreria;
    margin-bottom: 10px;
}

#virtual{
	grid-area: virtual;
    margin-top: 0;
}

h1{
    color:#fff;
    text-align:left;
    font-size:25px;
}

h2{
    color:#fff;
    text-align:center;
    margin: 0;
    font-size:30px;
    margin-bottom:20px;
}

input, textarea {
    width:100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border:none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

p{
    color:#fff;
    text-align:center;
    margin: 10px;
}

#boton{
    background: #31384A;
    color:#fff;
    font-family: 'Poppins', sans-serif;
    padding:20px;
    cursor: pointer;
}

#boton2{
    background: #56c424;
    color:#fff;
    font-family: 'Poppins', sans-serif;
    padding:20px;
    cursor: pointer;
}

#boton:hover {
    box-shadow:0px 0px 2px 2px rgb(0, 0, 0);
    transform: scale(1.0);

}

#boton2:hover {
    box-shadow:0px 0px 2px 2px rgb(0, 0, 0);
    transform: scale(1.0);

}


@media(max-width:425px){
    form{
        width:100%;
    }
    .header{
            width:100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
    
    .header img {
        width: 90px;
        margin: 10px 10px 10px 20px;
    }
}


